<div class="container-fluid login-container">
  <h1 class="title">Digital Library</h1>
  <div class="login-box">
          <div class="form-row align-items-center mb-3">
              <label for="username" class="col-form-label text-danger col-3">Username</label>
              <div class="col-9">
                  <input type="text" class="form-control input-dark" name="username">
              </div>
          </div>
          <div class="form-row align-items-center mb-3">
              <label class="col-form-label text-danger col-3">Password</label>
              <div class="col-9">
                  <input type="password" class="form-control input-dark" name="password">
              </div>
          </div>
          <div class="form-row align-items-center mb-3">
            <label class="col-form-label text-danger col-3"></label>
            <div class="col-9">
              <button type="submit" class="btn btn-primary btn-block mt-3">Login</button>
            </div>
        </div>
  </div>
</div>
